import { Datetime } from 'vue-datetime';
import 'vue-datetime/dist/vue-datetime.css'

<template>
  <div id="app">
    <Datetime format="YYYY-MM-DD H:i:s" width="100%"/>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datetimepicker'

export default {
  name: "App",
  components: {
    Datepicker
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
