<template>
    <div class="container">
      <h2>Import file pengajaran </h2>
      <form>
        <input type=file />
        <button>submit these settings</button>
      </form>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('components mounted');
        },
        data() {
          return {
            msg : 'hello world'
          }
        }
    }
</script>
