

<template>
   <div class="container">
      <form @submit="SubmitImport">
        <h2>Import Classes</h2>
        <hr />
        <input type=file />
        <button>Import Class For new Semester</button>
      </form>
   </div>
</template>

<script>
    import FileUpload from 'v-file-upload';

    export default {
        components : {
          fu : FileUpload,
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
          SubmitImport() {
            alert('submit');
          }
        },
        data() {
          return {
            msg : 'hello world'
          }
        }
    }
</script>

</script>
