<template>
  <div class="container">
    <h1>Student Terdaftar</h1>
    <form ref="myform">

    <select ref="select_opt" v-model="opt_index" class="form-control" @change="changeModifier" name="chosen_option" methods="POST" action="">
      <option v-for="option in options"  @key="option.Id" v-bind:value="option.Id"> {{option.msg}}</option>
    </select>
    </form>
    <div class="navbar">        <!-- data table here -->
        <!-- harus belajar gmana pindahin data nya  -->
        <datatable :columns="table_columns" :data="mydata" > </datatable>
    </div>
  </div>
</template>

<script>
 import datatable from 'vuejs-datatable';
 Vue.use(datatable);

 export default {
   props : {
     mydata : Array,
     chosen_option : {
       type : Number,
       default : 1
     },
   },
   mounted() {
     //do something after mounting vue instance
     this.opt_index = this.chosen_option;
   },
   methods :{
     changeModifier : function() {
       //change
       //nah ieu lieur soalnya gw gak pake vue-router
       this.$refs.myform.submit();
     }
   },
   data() {
     return {
       opt_index : 1,
       msg : 'avada kadabra',
       options : [
         { 'Id':'1', 'msg': 'Kelas Aktif'},
         { 'Id':'2', 'msg': 'Kelas Tidak Aktif'},
       ],
       table_columns: [
            {label: 'id', field: 'Id'},
            {label: 'SubjectName', field: 'SubjectName', headerClass: 'class-in-header second-class'},
            {label: 'ClassNumber', field: 'ClassNumber'},
        ],
     }
   },
 }

</script>

<style scoped>
  .container {
    border : 1px solid black;
    background: white;
    width: 100%;
  }



</style>
