<template>
  <div class='container'>
    <h2> Tag Yang tersedia  </h2>
    <datatable :columns="table_columns" :data="mydata">

    </datatable>
  </div>
</template>

<script>
import datatable from 'vuejs-datatable';
Vue.use(datatable);
export default {

    mounted() {
        console.log('components mounted');
    },
    data() {
      return {
        msg : 'hello world',
        table_columns: [
             {label: 'id', field: 'Id'},
             {label: 'Tag', field: 'Tag', headerClass: 'class-in-header second-class'},
         ],
         mydata : [
            { "Id": 1, 'Tag' :'Satu'},
            { "Id": 2, 'Tag' :'Dua'},
            { "Id": 3, 'Tag' :'Tiga'},
            { "Id": 4, 'Tag' :'Empat'},
            { "Id": 5, 'Tag' :'Lima'},
         ],
      }
    }
}
</script>

<style scoped>
 .container  {
   width: 100%;
 }
</style>
