img { border: 0; }

h1{
	font-size:30px;
}

#header {
	//background: url(../public/images/top.png);
	
	background-repeat : repeat-x;
	width: 1350px;
	position:relative;
	height:100px;
	
}

#header:before {
	background-image: url('../Assets/pattern.png');
	background-size: 200px 200px;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	opacity: 0.15;
}


#logo { 
background: url(images/download.jpg) top left no-repeat; 
width:80px;
height:80px;
}



#nav-top {
	position: absolute;
	top: 40px; left: 0px;
}

#nav-top li {
	display: inline;
}
#nav-top h1 {
	display: inline;
}

#nav-top a {
	//color: #fff;
	font-weight: bold;
	left: 0px;
}

#nav-top a:hover {
	  text-decoration: underline;
}



a {
	//color: #ce7210;
	color : black;
}

a:hover {
	//color: #6f3f0b;
	color : black;
	
}